@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: fonte;
    src: url(/Fonte/aliendude.ttf);
}
#cap1{  
    color: blue;    
    text-align:center;
    
        font-family: "fonte";
        
     
    
}

.info {
    background-color: aqua;


}    

.fom{
    background-color: aqua;
}
.curso{
    background-color: rgb(182, 177, 177);
}
.fom2{
    background-color: aqua;
}
.idioma{
    background-color: rgb(182, 177, 177);
}
.skill{
    background-color: aqua;
}
.soft{
    background-color: rgb(182, 177, 177);
}
div.cent{
    text-align: center; 
}